/*The styles of the sources page*/
body{
    margin-left: 25px;
}
ul li{
    padding:25px;
}
.small-logo{
    position: absolute;
    margin: 0 auto;
    height: 10%;
}
.menu-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

