#sources .source-row
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.source-cube
{
    background-color: #FBF7EF;
    border-radius: 10px;
    border: 3px solid #252422;
    padding: 20px;
}
#cube1
{
    grid-column: 1;
}
#cube2
{
    grid-column: 2;
}
#cube3
{
    grid-column: 3;
}